# ==========================
# Ambiente Virtual
# ==========================
.venv/
venv/

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/

# ==========================
# Banco de Dados
# ==========================
instance/
*.db
*.sqlite3

# ==========================
# Variáveis de Ambiente
# ==========================
.env

# ==========================
# Uploads
# ==========================
uploads/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# IDEs
# ==========================
.vscode/
.idea/

# ==========================
# Sistema Operacional
# ==========================
.DS_Store
Thumbs.db